<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{title}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/images/face0.png" alt="profile picture">
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item class="border-bottom">
              <ion-text>
                <h1>Name: Molly</h1>
              </ion-text>
            </ion-item>
            <ion-item class="border-bottom">
              <ion-text>
                <h1>Location: Purr-adise</h1>
              </ion-text>
            </ion-item>
            <ion-item class="border-bottom">
              <ion-text>
                <h1>Age: 4</h1>
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1>About:</h1>
          </ion-text>
          <ion-text>
            <p class="fs-3">
              Hello there, I'm Molly. I'm delightfully silly. My days are quite the adventure, filled with all sorts of fun. I'm known for my playful antics; whether I'm chasing my shadow or leaping after a fluttering leaf, there's always something to pounce on or explore.
            </p>
            <p class="fs-3">
              Purring is my way of expressing joy. Whether I'm lounging in a cozy nook bathed in sunlight or curled up in a soft patch of grass, my purrs echo my happiness. It's a sound that fills the air around me, a melody of contentment and peace.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

